#cboxOverlay{background:#929497;}
#colorbox{overflow: visible;}
#cboxWrapper{z-index: 500; overflow: visible;}
body
{
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

#cboxLoadedContent
{
    background-color: #672e5f;
}

.journal-column-wrap
{
    background-color: transparent;
    background-image: url("../img_journal/journal-background.jpg");
    background-repeat: repeat-y;
    width: 297px;
    font-size: 100%;
}

/*#journal-column-signup
{
    background-color: transparent;
    background-image: url("../img_journal/journal-background.jpg");
    background-repeat: no-repeat;
    width: 297px;
}*/

#journal-column-signup
{
    margin: 11px 18px;
    padding: 12px 0;
    color: #fff;
}

#journal-column-signup div.rs
{
    margin-top: 5px;
    text-align: center;
}

#journal-column-signup p
{
    font-size: 16px;
    line-height: 1.3em;
}

#journal-column-signup div.heading
{
    margin-top: 5px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4d721c;
    font-family: 'Avenir LT W01 35 Light', Helvetica, Arial, Verdana, sans-serif;
}

#journal-column-signup p.center
{
    text-align: center;
    margin-bottom: 0;
}

#journal-column-signup p.upper
{
    text-transform: uppercase;
    color: #6b3263;
    margin-bottom: 0;
    font-weight: bold;
}

#journal-column-signup p.para
{
    font-family: 'Avenir LT W01 35 Light', Helvetica, Arial, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#lightbox-signup legend
{
    display: none;
}

#lightbox-signup fieldset
{
    border: none;
    margin-left: 0;
    padding-left: 0;
}

#lightbox-signup input
{
    border-radius: 4px;
    -moz-border-radius: 4px;
}

#lightbox-signup .text
{
    border: none;
    padding: 8px 0 8px 0;
    font-size: 16px;
    text-align: center;
}

#lightbox-signup .submit
{
    background-color: #6b3263;
    border-bottom: solid 3px #3a1431;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    display: block;
    margin: 12px auto 0 auto;
    font-size: 18px;
    padding: 8px 40px 6px 40px;
    text-transform: uppercase;
    width: 100%;
}

#lightbox-signup-first-name,
#lightbox-signup-last-name
{
    width: 48%;
}

#lightbox-signup-last-name
{
    float: right;
}

#lightbox-signup-email
{
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
}